  <header class = "jumbotron">
    <div class="container">
      <h1>{{#link-to 'index'}}Bustle Clone{{/link-to}}</h1>
    </div>
  </header>
  <div class="container-fluid">


  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'news'}}News{{/link-to}}</li>
      <li>{{#link-to 'entertainment'}}Entertainment{{/link-to}}</li>
      <li>{{#link-to 'fashion'}}Fashion &amp; Beauty{{/link-to}}</li>
      <li>{{#link-to 'lifestyle'}}Lifestyle{{/link-to}}</li>
      <li>{{#link-to 'books'}}Books{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="admin">{{#link-to 'admin'}}Admin Portal{{/link-to}}</li>
    </ul>
  </nav>

<div class="container">
  {{outlet}}
</div>

</div>
